---
import '../styles/global.css';

const pageTitle = 'About';

const skills = ["HTML", "CSS", "Astro?", "Java"];

const skillColor = "blue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor}}>
        h1 {
            color: purple;
            font-size: 4rem;
        }
        .skill {
            color: var(--skillColor);
            font-size: 2rem;
        }

        </style>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

        <h1>{pageTitle}</h1>

        <p> This page is about me</p>

        <h2>Skills</h2>
        <ul>
            {skills.map((skill) => (
                <li class="skill">{skill}</li>
            ))}
        
        </ul>
	</body>
</html>